$normal-font-size: 14pt
$page-width: 800px
$page-color: #fff
$shadow-color: #b0bec5
$navbar-shadow-color: #90a4ae


#content-main
  background-color: $page-color
  height: 100%
  margin-top: 0
  padding: 40px 60px

.shadow
  box-shadow: 0 4px 10px $shadow-color

.container
  max-width: $page-width

.navbar
  margin-bottom: 40px

  li
    font:
      size: 18pt
      weight: medium


li
  font-size: $normal-font-size

.navbar-brand
  font:
    size: 18pt
    weight: bold


.navbar-shadow
  box-shadow: 0 4px 8px $navbar-shadow-color

p
  font-size: $normal-font-size
