# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Sublime-N9

# Balance (default profile)
on property:persist.spectrum.profile=0
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 306000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 306000
   write /sys/kernel/debug/clock/cpu_g/min 306000000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2295000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2295000
   write /sys/kernel/debug/clock/cpu_g/max 2295000000
   write /sys/module/cpu_tegra/parameters/cpu_user_cap 2295000
   write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
   write /sys/devices/system/cpu/cpuquiet/current_governor balanced

   write /sys/kernel/tegra_gpu/gpu_cap_rate 852000000
   write /sys/kernel/tegra_gpu/gpu_cap_state 1
   write /sys/block/mmcblk0/queue/scheduler fiops
   write /sys/block/mmcblk0/queue/rq_affinity 1
   write /sys/block/mmcblk0/queue/read_ahead_kb 512

   write /proc/sys/vm/swappiness 60

   write /sys/module/workqueue/parameters/power_efficient Y

# Performance
on property:persist.spectrum.profile=1
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 510000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 510000
   write /sys/kernel/debug/clock/cpu_g/min 501000000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2499000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2499000
   write /sys/kernel/debug/clock/cpu_g/max 2499000000
   write /sys/module/cpu_tegra/parameters/cpu_user_cap 2499000
   write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
   write /sys/devices/system/cpu/cpuquiet/current_governor balanced

   write /sys/kernel/tegra_gpu/gpu_cap_rate 756000000
   write /sys/kernel/tegra_gpu/gpu_cap_state 1

   write /sys/block/mmcblk0/queue/scheduler fiops
   write /sys/block/mmcblk0/queue/rq_affinity 2
   write /sys/block/mmcblk0/queue/read_ahead_kb 1024

   write /proc/sys/vm/swappiness 10

   write /sys/module/workqueue/parameters/power_efficient N

# Battery
on property:persist.spectrum.profile=2
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 204000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 204000
   write /sys/kernel/debug/clock/cpu_g/min 204000000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2091000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2091000
   write /sys/kernel/debug/clock/cpu_g/max 2091000000
   write /sys/module/cpu_tegra/parameters/cpu_user_cap 2091000
   write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
   write /sys/devices/system/cpu/cpuquiet/current_governor touch

   write /sys/kernel/tegra_gpu/gpu_cap_rate 708000000
   write /sys/kernel/tegra_gpu/gpu_cap_state 1

   write /sys/block/mmcblk0/queue/scheduler noop
   write /sys/block/mmcblk0/queue/rq_affinity 0
   write /sys/block/mmcblk0/queue/read_ahead_kb 256

   write /proc/sys/vm/swappiness 60

   write /sys/module/workqueue/parameters/power_efficient Y

# Gaming
on property:persist.spectrum.profile=3
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor sublime_active
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 510000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 510000
   write /sys/kernel/debug/clock/cpu_g/min 501000000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2499000
   write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2499000
   write /sys/kernel/debug/clock/cpu_g/max 2499000000
   write /sys/module/cpu_tegra/parameters/cpu_user_cap 2499000
   write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 0

   write /sys/kernel/tegra_gpu/gpu_cap_rate 918000000
   write /sys/kernel/tegra_gpu/gpu_cap_state 1

   write /sys/block/mmcblk0/queue/scheduler fiops
   write /sys/block/mmcblk0/queue/rq_affinity 2
   write /sys/block/mmcblk0/queue/read_ahead_kb 1024

   write /proc/sys/vm/swappiness 10

   write /sys/module/workqueue/parameters/power_efficient N
