#     Copyright (C) 2016 Dela Anthonio <dell.anthonio@gmail.com>
#
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.

on early-init

# Set max GPU freq to 708 GHZ
write /sys/kernel/tegra_gpu/gpu_cap_rate 708000000
write /sys/kernel/tegra_gpu/gpu_cap_state 1

on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 306000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 306000
    write /sys/kernel/debug/clock/cpu_g/min 306000000

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2295000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2295000
    write /sys/kernel/debug/clock/cpu_g/max 2295000000
    write /sys/module/cpu_tegra/parameters/cpu_user_cap 2295000
    write /sys/module/cpu_tegra/parameters/force_policy_max N

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sublime_active
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor sublime_active
    restorecon_recursive /sys/devices/system/cpu/cpufreq/sublime_active

    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/current_governor balanced
    write /sys/devices/system/cpu/cpuquiet/balanced/idle_top_freq 1224000
    write /sys/devices/system/cpu/cpuquiet/balanced/idle_bottom_freq 306000

    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/add_random 0

    write /proc/sys/vm/swappiness 10
    write /proc/sys/vm/extra_free_kbytes 45000

# KSM options
    write /sys/kernel/mm/ksm/sleep_millisecs 1000
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/run 1

